bin/demo/google-analytics-demo/src/main/mule/google-analytics-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:google-analytics="http://www.mulesoft.org/schema/mule/google-analytics" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/google-analytics http://www.mulesoft.org/schema/mule/google-analytics/current/mule-google-analytics.xsd">
	
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f912e47c-0052-40e6-94e1-3108405f27c0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	
	<google-analytics:config name="Google_Analytics_Config" doc:name="Google Analytics Config" doc:id="998f10f7-6577-45e9-8af5-0bcfb8b4dd2c" >
		<google-analytics:connection clientId="${oauth2.client.id}" clientSecret="${aoth2.client.secret}" domain="${oauth2.callback.host}" port="${aoth2.callback.port}" applicationName="${application.name}" />
	</google-analytics:config>
	
	<configuration-properties doc:name="Configuration properties" doc:id="b2af819b-0c48-448e-9fa1-095d2633f685" file="application.properties" />
	
	<flow name="google-analytics-demoFlow" doc:id="e7715638-32be-41ff-b0cb-fb6dba0f7a6e" >
		<http:listener doc:name="Listener" doc:id="8ad4eb93-da2a-4ade-b9d1-6a27ecbeabf8" config-ref="HTTP_Listener_config" path="/google-analytics/demo"/>
		<google-analytics:generate-report doc:name="Generate report" doc:id="8432aa09-2946-482a-8986-614dfb03a75b" config-ref="Google_Analytics_Config" profileId="UA-132217642-1" startDate="7daysAgo" endDate="today" samplingLevel="DEFAULT" output="JSON">
			<google-analytics:metrix-parameters >
				<google-analytics:metrics-parameter value="AdClicks" />
				<google-analytics:metrics-parameter value="AvgTimeOnPage" />
			</google-analytics:metrix-parameters>
			<google-analytics:dimension-parameters >
				<google-analytics:dimension-parameter value="AdDistributionNetwork" />
				<google-analytics:dimension-parameter value="AdContent" />
			</google-analytics:dimension-parameters>
			<google-analytics:sort-parameters >
				<google-analytics:sortparms >
					<google-analytics:sort-parameter-type sortparamValue="AdContent" sortOrder="DESCENDING" />
				</google-analytics:sortparms>
			</google-analytics:sort-parameters>
		</google-analytics:generate-report>
		<logger level="INFO" doc:name="Log Google Analytics Payload" doc:id="40c9a030-f027-4df0-bf22-cb6ea017ce0e" message="#[payload]"/>
	</flow>
</mule>
